.brand {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100vw - 60px);
}

.list, .mangalist {
  .goback {
    position: absolute;
    left: 26px;
    top: 17px;
  }
  .container {
    padding: 50px 0 0;
    ul {
      width: 100%;
      background: black;
      min-height: 100vh;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      font-size: 0;
      overflow: hidden;
      background: #121211;
      position: relative;;
    }
  }
}

.mangalist {
  .item {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    padding: 2px;

    .thumbnail {
      width: initial;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      border-radius: 2px;
      background-color: #444442;
      background-position: left top;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .textwrap {
      position: relative;
      min-height: 37px;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      background: rgba(0, 0, 0, 0.7);
      padding: 5px;
      align-items: center;
      .title {
        color: white;
        font-size: 16px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
        margin: auto;
      }
    }
  }
}

.mangalist {
  .item {
    .thumbnail {
      padding-bottom: 158%;
    }
    .textwrap {
      position: absolute;
    }
  }
}

.list {
  .item {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    a {
      display: block;
      padding: 20px 56px 20px 72px;
      text-decoration: none;
      background-color: #242424;
    }
    a:visited {
      background-color: #444442;
    }
    a:hover {
      background-color: #121211;
    }
    .thumbnail {
      position: absolute;
      top: 10px;
      left: 16px;
      width: 38px;
      height: 38px;
      background-size: cover;
      border: solid 1px rgba(0, 0, 0, 0.08);
      border-radius: 50%;
    }
    .textwrap {
      display: flex;

      .title {
        color: white;
        font-size: 16px;
        line-height: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
