.listview {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.listview .header {
  position: absolute;
  width: 100%;
  height: 47px;
  background: #121211;
  box-sizing: border-box;
  z-index: 1000;
  left: 0;
  top: 0;
  padding: 7px;
}

.listview .search {
  display: block;
  color: #f2f2f2;
  background: #2b2b2b;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  align-self: center;
  border: 1px solid transparent;
  border-top-color: #000;
  border-bottom-color: #2b2b2b;
  border-radius: 5px;
}

.listview .search:focus {
  border: 1px solid #c29f37;
  outline: 0;
}

.listview ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 47px;
  font-size: 0;
}

.listview li {
  position: relative;
  border-bottom: 1px  solid #121211;
  border-top: 1px solid #444442;
  min-height: 110px;
  display: inline-block;
  width: 100%;
}



.listview li a {
  background: #242424;
  text-decoration: none;
  transition: all .2s linear;
  display: block;
  min-height: 110px;
  width: initial;
  background: #242424;
}

.listview li a:visited {
  background: #323232;
}

.listview li a:hover, .manga-list li a:active {
  background: #121211!important;
}


.listview li div.thumbnail {
  border: 2px solid #444442;
  width: 100px;
  height: 100px;
  background-color: #444442;
  position: absolute;
  margin-top: 4px;
  left: 5px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.listview li h3,
.listview li p {
  font-size: 13px;
  margin: 15px 55px 0 125px;
  line-height: 16px;
  position: absolute;
}

.listview.mangalist li {
  width: 10%;
  vertical-align: top;
}

@media screen and (max-width: 1400px) {
  .listview.mangalist li {
    width: 14.2857143%;
    width: 20%;
  }
}

@media screen and (max-width: 1000px) {
  .listview.mangalist li {
    width: 20%;
  }
}

@media screen and (max-width: 800px) {
  .listview.mangalist li {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .listview.mangalist li {
    width: 33.3333333%;
  }
}

.listview.mangalist li > a {
  border: 1px solid black;
 }

.listview.mangalist li div.thumbnail {
  width: initial;
  height: 0;
  padding-bottom: 140%;
  position: relative;
  left: 0;
 }

.listview.mangalist li h3 {
  text-align: center;
  position: relative;
  margin: 2px;
  height: 50px;
  overflow: hidden;
}
