.mangaview {
  width: 100%;
  height: auto;
}

.mangaview .slider {
  display: block;
  transform: translate3d(0px, 0, 0);
  /*transition: transform 0.3s linear;*/
  width:100%;
  height: auto;
}

.mangaview .slider .page {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  min-height: 110px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: transform-origin, transform, visibility, opacity;
  transition-duration: 800ms, 800ms, 800ms, 800ms;
  transition-timing-function: cubic-bezier(0.26, 0.86, 0.44, 0.985), cubic-bezier(0.26, 0.86, 0.44, 0.985), cubic-bezier(0.26, 0.86, 0.44, 0.985), cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition-delay: initial, initial, initial, initial;
  transform: translate3d(0, 0, 0);
}

.mangaview .slider .page.prev {
  transform: translate3d(100vw, 0, 0);
}

.mangaview .slider .page.next {
  transform: translate3d(-100vw, 0, 0);
}


.mangaview .slider .page:nth-child(1) {
  /*position: relative;*/
  /*display: block;*/
}

.mangaview .prev {
  width: 10%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.mangaview .next {
  width: 90%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 10%;
  z-index: 1;
}
