.scrap {
  .refreshBtn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    font-size: 24px;
    z-index: 4;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    padding: 0;
    overflow: hidden;
    background: #ff4081;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    line-height: normal;
    outline: none;
  }
}
